.navigation{
    height: 100vh;
    display: flex;
    align-items: center;
    width: 13vw;
    position: fixed;
    left: 0;
    top:5vh
}

.container{
    padding:20px;
    width: 10vw;
    display: flex;
    color: white;
    background-color: #34B53A;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;
}
.container:hover{
    border: 1px solid darkolivegreen;
}
.name{
    margin: 0.5vw;
    width: 50%;
    
}