.input,.half_input1,.half_input2{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin:1vh 0;
    width: 95%;
}
.half_input1,.half_input2{
    width: 43%;
}
.half_input2{
    margin-left: 1.2vw;
}
.show_cont{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1vh 0;
}
.check{
   padding: 5px;
   margin-right: 0.5vw;
   width: 1.5vw;
}
.submit{
    padding: 10px;
    width: 100%;
    background: #19A2D8;
    color: white;
    border:1px solid #19A2D8;
    border-radius: 5px;
    margin: 2vh 0;
    cursor: pointer;
}